XTerm.*.Background: black
XTerm.*.Foreground: white
xterm*vt100*geometry: 100x40
XTerm*locale: UTF-8
xterm*faceName: Liberation Mono:size=12:antialias=true
XTerm*ScrollBar: false
# Install wqy-zenhei-fonts (CJK support)
XTerm*faceNameDoublesize: WenQuanYi Zen Hei Mono
